@using System.Security.Cryptography
@model Vidly.Models.CatalogCollection

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>COLECTIONS</h2>

@if (Model.Catalogs.Count == 0)
{
    <h3>no data</h3>

}else
{ 
    <table>
        @foreach (var col in Model.Catalogs)
        {
            <tr>
                <td>@Html.ActionLink(col.Name, "Catalog", "Catalog", new { id = col.Id }, null)</td>
            </tr>
        }
    </table>
}
