

@using Vidly.HtmlHelper
@using Vidly.Models
@model Vidly.ViewsModels.TeamsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>THERE IS NO TEAM OF THIS KIND</h1>

}

