@model Vidly.Models.MoviesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!Model.Movies.Any())
{
    <h2>No movies yet</h2>
}
else
{
    <table style="width:100%">
        <tr>
            <th>Firstname</th>

            <th>Link</th>
        </tr>
        @{
            foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Name</td>

                    <td>@Html.ActionLink("Click Here", "Detail", "Movies", new { id = movie.Id }, null)</td>

                </tr>
            }
        }

    </table>
}